Repository snuspl/nemo, pull requests merged in 2018-02, with the labels that each got.

#768 [Minor] Update dependencies on README.md
  README.md
Labels: Misc.

#775 [Coral-769] Fix `getPartitions` to work with compression
  compiler/optimizer/src/main/java/edu/snu/coral/compiler/optimizer/pass/compiletime/composite/PrimitiveCompositePass.java
  compiler/optimizer/src/main/java/edu/snu/coral/compiler/optimizer/policy/DefaultPolicy.java
  runtime/executor/src/main/java/edu/snu/coral/runtime/executor/data/LimitedInputStream.java
  runtime/executor/src/main/java/edu/snu/coral/runtime/executor/data/block/FileBlock.java
  tests/src/test/java/edu/snu/coral/tests/compiler/optimizer/policy/PolicyBuilderTest.java
  tests/src/test/java/edu/snu/coral/tests/runtime/executor/data/BlockStoreTest.java
Labels: Runtime

#777 [Coral-756] Distribution of Spark Source
  common/src/main/java/edu/snu/coral/common/test/ArgBuilder.java
  common/src/main/java/edu/snu/coral/common/test/ExampleTestUtil.java
  compiler/frontend/spark/src/main/java/edu/snu/coral/compiler/frontend/spark/core/java/JavaPairRDD.java
  compiler/frontend/spark/src/main/java/edu/snu/coral/compiler/frontend/spark/core/java/JavaRDD.java
  compiler/frontend/spark/src/main/java/edu/snu/coral/compiler/frontend/spark/source/SparkBoundedSourceVertex.java
  compiler/frontend/spark/src/main/java/edu/snu/coral/compiler/frontend/spark/sql/DataFrameReader.java
  compiler/frontend/spark/src/main/java/edu/snu/coral/compiler/frontend/spark/sql/Dataset.java
  compiler/frontend/spark/src/main/java/edu/snu/coral/compiler/frontend/spark/sql/SparkSession.java
  examples/beam/src/test/java/edu/snu/coral/examples/beam/AlternatingLeastSquareITCase.java
  examples/beam/src/test/java/edu/snu/coral/examples/beam/BroadcastITCase.java
  examples/beam/src/test/java/edu/snu/coral/examples/beam/MapReduceITCase.java
  examples/beam/src/test/java/edu/snu/coral/examples/beam/MultinomialLogisticRegressionITCase.java
  examples/beam/src/test/java/edu/snu/coral/examples/beam/policy/DataSkewPolicyParallelsimFive.java
  examples/beam/src/test/java/edu/snu/coral/examples/beam/policy/DefaultPolicyParallelismFive.java
  examples/beam/src/test/java/edu/snu/coral/examples/beam/policy/DisaggregationPolicyParallelsimFive.java
  examples/beam/src/test/java/edu/snu/coral/examples/beam/policy/PadoPolicyParallelsimFive.java
  examples/beam/src/test/java/edu/snu/coral/examples/beam/policy/PolicyTestUtil.java
  examples/beam/src/test/java/edu/snu/coral/examples/beam/policy/SailfishPolicyParallelsimFive.java
  examples/resources/sample_input_wordcount
  examples/resources/test_output_broadcast
  examples/resources/test_output_mr
  examples/resources/test_output_wordcount
  examples/spark/src/main/java/edu/snu/coral/examples/spark/JavaWordCount.java
  examples/spark/src/test/java/edu/snu/coral/examples/spark/SparkITCase.java
  tests/src/test/java/edu/snu/coral/tests/compiler/CompilerTestUtil.java
Labels: Client, Compiler

#780 [Coral-529] Subscription of Runtime Event Handlers
  runtime/common/src/main/java/edu/snu/coral/runtime/common/eventhandler/DynamicOptimizationEventHandler.java
  runtime/common/src/main/java/edu/snu/coral/runtime/common/optimizer/pass/runtime/DataSkewRuntimePass.java
  runtime/common/src/main/java/edu/snu/coral/runtime/common/optimizer/pass/runtime/RuntimePass.java
  runtime/driver/src/main/java/edu/snu/coral/driver/UserApplicationRunner.java
Labels: Compiler, Runtime

#785 [Minor] Do not instantiate separate PubSubEventHandler
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/eventhandler/DynamicOptimizationEventHandler.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/optimizer/pass/runtime/DataSkewRuntimePass.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/optimizer/pass/runtime/RuntimePass.java
  runtime/driver/src/main/java/edu/snu/nemo/driver/UserApplicationRunner.java
Labels: Client

#784 [Minor] Fix Travis behavior
  .travis.yml
  examples/resources/sample_executor_resources.json
Labels: Misc.

#778 [Minor] Add Task Level Metric & Script
  bin/metric-parser.py
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/metric/MetricData.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/plan/physical/PhysicalPlan.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/Executor.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/MetricCollector.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/TaskGroupExecutor.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/TaskGroupStateManager.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/data/BlockManagerWorker.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/data/DataUtil.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/data/block/FileBlock.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/datatransfer/OutputWriter.java
  runtime/master/src/main/java/edu/snu/nemo/runtime/master/scheduler/RoundRobinSchedulingPolicy.java
  tests/src/test/java/edu/snu/nemo/tests/runtime/executor/TaskGroupExecutorTest.java
Labels: Client, Common, Runtime

#786 [Minor] Add metric data on data input
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/TaskGroupExecutor.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/data/BlockManagerWorker.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/data/DataUtil.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/data/NonSerializedPartition.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/datatransfer/InputReader.java
  tests/src/test/java/edu/snu/nemo/tests/runtime/executor/TaskGroupExecutorTest.java
Labels: Runtime

#788 [Minor] Add missing license headers
  .travis.yml
  bin/generate_javadocs.sh
  bin/metric-parser.py
  checkstyle.xml
  common/src/main/java/edu/snu/nemo/common/DirectByteArrayOutputStream.java
  common/src/main/java/edu/snu/nemo/common/exception/InvalidParameterException.java
  common/src/main/java/edu/snu/nemo/common/exception/UnsupportedCompressionException.java
  common/src/main/java/edu/snu/nemo/common/ir/edge/executionproperty/CompressionProperty.java
  common/src/main/java/edu/snu/nemo/common/ir/edge/executionproperty/KeyExtractorProperty.java
  common/src/main/java/edu/snu/nemo/common/ir/edge/executionproperty/MetricCollectionProperty.java
  common/src/main/java/edu/snu/nemo/common/ir/edge/executionproperty/PartitionerProperty.java
  common/src/main/java/edu/snu/nemo/common/ir/vertex/executionproperty/DynamicOptimizationProperty.java
  common/src/main/java/edu/snu/nemo/common/ir/vertex/executionproperty/ScheduleGroupIndexProperty.java
  common/src/main/resources/log4j.properties
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/core/RDD.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/source/SparkBoundedSourceVertex.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/transform/CollectTransform.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/transform/FlatMapTransform.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/transform/GroupByKeyTransform.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/transform/ReduceByKeyTransform.java
  conf/src/main/java/edu/snu/nemo/conf/JobConf.java
  deploy/initialize_fresh_ubuntu.sh
  deploy/set_hostname.sh
  examples/spark/pom.xml
  log4j.properties
  pom.xml
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/ReplyFutureMap.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/MessageContext.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/MessageEnvironment.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/MessageListener.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/MessageParameters.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/MessageSender.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/PersistentConnectionToMasterMap.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/grpc/GrpcMessageClient.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/grpc/GrpcMessageContext.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/grpc/GrpcMessageEnvironment.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/grpc/GrpcMessageSender.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/grpc/GrpcMessageServer.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/local/LocalMessageContext.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/local/LocalMessageDispatcher.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/local/LocalMessageEnvironment.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/local/LocalMessageSender.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/ncs/ControlMessageCodec.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/ncs/NcsMessageContext.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/ncs/NcsMessageEnvironment.java
  runtime/common/src/main/java/edu/snu/nemo/runtime/common/message/ncs/NcsMessageSender.java
  runtime/common/src/main/proto/ControlMessage.proto
  runtime/common/src/main/proto/GrcpMessageService.proto
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/data/DataUtil.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/data/streamchainer/CompressionStreamChainer.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/data/streamchainer/Serializer.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/data/streamchainer/StreamChainer.java
  runtime/executor/src/main/java/edu/snu/nemo/runtime/executor/datatransfer/DataTransferFactory.java
  runtime/master/src/main/java/edu/snu/nemo/runtime/master/resource/ResourceSpecification.java
  tests/src/test/java/edu/snu/nemo/tests/compiler/optimizer/policy/PolicyBuilderTest.java
  tests/src/test/java/edu/snu/nemo/tests/runtime/common/message/local/LocalMessageTest.java
Labels: Misc.

#779 [Minor] Add Scala support + Scala Spark Examples
  compiler/frontend/spark/pom.xml
  examples/spark/src/main/scala/edu/snu/nemo/examples/spark/SparkALS.scala
  examples/spark/src/main/scala/edu/snu/nemo/examples/spark/SparkPi.scala
  pom.xml
Labels: Client, Compiler

#791 [Nemo-781] Support SparkSQL
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/SparkKeyExtractor.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/coder/SparkCoder.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/core/java/JavaPairRDD.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/core/java/JavaRDD.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/core/java/JavaSparkContext.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/core/java/SparkFrontendUtils.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/sql/DataFrameReader.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/sql/Dataset.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/sql/NemoSparkUserFacingClass.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/sql/SparkSession.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/transform/MapToPairTransform.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/transform/MapTransform.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/transform/ReduceTransform.java
Labels: Client

#793 [Nemo-792] Fix loop bugs
  common/src/main/java/edu/snu/nemo/common/dag/DAGBuilder.java
  common/src/main/java/edu/snu/nemo/common/ir/vertex/LoopVertex.java
  compiler/optimizer/src/main/java/edu/snu/nemo/compiler/optimizer/pass/compiletime/reshaping/LoopExtractionPass.java
  compiler/optimizer/src/main/java/edu/snu/nemo/compiler/optimizer/pass/compiletime/reshaping/LoopUnrollingPass.java
Labels: Compiler

#795 [Nemo-794] Add SparkSQL Examples and Integration Tests.
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/sql/Dataset.java
  compiler/frontend/spark/src/main/java/edu/snu/nemo/compiler/frontend/spark/sql/SparkSession.java
  examples/resources/sample_input_employees.json
  examples/resources/sample_input_people.json
  examples/resources/sample_input_people.txt
  examples/spark/src/main/java/edu/snu/nemo/examples/spark/sql/JavaSparkSQLExample.java
  examples/spark/src/main/java/edu/snu/nemo/examples/spark/sql/JavaUserDefinedTypedAggregation.java
  examples/spark/src/main/java/edu/snu/nemo/examples/spark/sql/JavaUserDefinedUntypedAggregation.java
  examples/spark/src/test/java/edu/snu/nemo/examples/spark/SparkITCase.java
Labels: Compiler
